body {background-color: whitesmoke; font-size: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.a {text-align: center;}
.b {margin-left: 43.75%; padding: 20px 25px; background-color: #8ac8ff; margin-bottom: 20px; border-radius: 25px; width: 180px; }
.c {margin-left: 43.75%; padding: 20px 25px; background-color: #80ff80; margin-bottom: 20px; border-radius: 25px; width: 180px; }